<div id="segment-navbar" class="segment">
  <div id="stripe"> </div>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"> </span>
        </button>
        <a class="navbar-brand hidden" href="http://hl7.org/fhir/R4/index.html">FHIR</a>
        <div class="nav-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Hem</a></li>
            <li><a href="introduction.html">Inledning</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Funktionellt<b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="information-basis.html">Informationsunderlag</a></li>
                <li><a href="use-cases.html">Användningsfall</a></li>
                <li><a href="roles-and-responsibilities.html">Roller och ansvar</a></li>
                <li><a href="mappings.html">Mappning till profiler</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Implementering<b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="rest-interactions.html">REST-interaktioner och sökparametrar</a></li>
                <li><a href="expected-responses.html">Förväntade svar</a></li>
                <li><a href="capabilitystatement.html">CapabilityStatement</a></li>
                <li><a href="error-handling.html">Felhantering</a></li>
                <li><a href="security.html">Säkerhet och behörighet</a></li>
                <li><a href="testing.html">Testning och validering</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Om<b class="caret"> </b></a>
              <ul class="dropdown-menu">
                <li><a href="about.html">Styrning och förvaltning</a></li>
                <li><a href="downloads.html">Nedladdningar</a></li>
                <li><a href="version-history.html">Versionshistorik</a></li>
              </ul>
            </li>
            <li><a href="artifacts.html">Artefakter</a></li>
            <li><a href="https://fhir.inera.se/" target="_blank" rel="noopener">FHIR på Inera <span aria-hidden="true">&#8599;</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
